td.tile {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    position: relative;
}

td.white {
    background-color: #f0d9b5;
}

td.gray {
    background-color: #b58863;
}

td.white.played {
    background-color: #cdd26a;
}

td.gray.played {
    background-color: #aaa23a;
}

td.selected.white {
    background-color: #829769;
}

td.selected.gray {
    background-color: #646f40;
}

td.tile img {
    position: absolute;
    top: 0px;
    left: 0px;
}

img.target {
    filter: opacity(0.5);
}

img.piece {
    height: -webkit-fill-available;
}
